.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95vw;
  max-width: 500px;
  background-color: #fff;
  padding: 10px 5px 20px 20px;
  border: none;
  border-radius: 5px;
  outline: none;
}
