.main {
  padding: 5px;
  height: 100%;
}

.kaliaImg{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.disconnected {
  padding-top: 0.5vh;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  background-color: var(--red);
  color: white;
  font-weight: bold;
}

.title {
  width: 65%;
  margin: auto;
  position: relative;
  top: 30px;
  text-align: center;
  font-family: 'Mulish-Bold';
  font-size: 3.5vh;
  font-weight: 700;
}

.imgButtons{
  position: relative;
  top: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.imgBtn {
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 110px;
  height: 110px;
}

.imgBtn:active{
  transform: scale(0.9);
}

.imgBtn img{
  min-width: 80% !important;
}

.imgBtn p{
  font-family: 'Mulish-bold';
  text-align: center;
  line-height: 1;
  margin-bottom: 5px;
}

.voiceRecorder {
  position: relative;
  margin: auto;
  top: 12%;
  text-align: center;
  height: 12vh;
  width: 12vh;
}

.exampleMessages {
  position: absolute;
  left: 3px;
  right: 0;
  bottom: calc(40px + 1vh);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out,
    visibility 0.5s ease-in-out;
}

.invisible {
  opacity: 0;
  transform: translateY(50px); /* Initial downward position */
  visibility: hidden;
}

.visible {
  opacity: 1;
  transform: translateY(0); /* Reset to default position */
  visibility: visible;
}

.buttonChoice {
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  min-height: 5vh;
  height: fit-content;
  width: calc(100vw - 50px);
  padding: 1vh;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  margin-top: 2px;
}

.keyboard {
  margin: auto;
  cursor: pointer;
  position: relative;
  /* bottom: 7vh; */
}

.keyboard p {
  color: var(--secondary);
  font-family: Mulish-bold;
  text-decoration: underline;
  font-size: 18px;
}

.suggestions{
  position: absolute;
  display: flex;
  min-width: 50px;
  width: auto;
  bottom: 50px;
  left: 10px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.suggestion{
  padding: 0 10px;
  cursor: pointer;
}

.active{
  background-color: #65c3d7;
  color: white;
}

.inputBox {
  border-top: 1px solid #dbdbdb;
  padding: 9px 5px 0 5px;
  min-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 1vh;
  transform: translateX(-50%);
  color: var(--font);
  width: 70%;
  margin: auto;
  transition: all 0.5s ease-in-out;
}
.inputBox textarea {
  width: 100%;
  margin: 0 5px;
  padding: 10px;
  border: 1px solid #D0D0D0;
  border-radius: 10px;
  outline: none;
  resize: none;
  overflow: hidden;
}
.inputBox.inputBoxOpen {
  width: 100%;
  left: 0;
  right: 0;
  transform: translateX(0);
}
.sendButton {
  background: none;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
  margin-left: 3px;
}