@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.spinner {
  display: inline-block;
  height: 15px;
  width: 1px;
  /* border-radius: 50%; */
  animation: blink 0.5s infinite;
}
