@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
body {
  margin: 0 !important;
}
#main-content
  > div
  > div.create-page
  > div
  > div
  > form
  > div.MuiCardContent-root
  > div
  > div:nth-child(1)
  > span.MuiStack-root.ra-input.ra-input-documents
  > div.previews
  > div
  > button,
#main-content > div > div.create-page > div > div > form > div.MuiCardContent-root > div > div:nth-child(1) > span.MuiStack-root.ra-input > div.previews > div > button {
  display: none;
}
#systemPrompt {
  font-family: 'Roboto Mono';
}

.cta_buttons {
  display: flex;
  font-size: 24px;
  justify-content: space-evenly;
}

.cta_buttons button {
  font-size: 24px;
  outline: none;
  border-radius: 8px;
  text-align: center;
  width: 12%;
  cursor: pointer;
  border: 1px solid black;
}

.cta_btn_active {
  background: var(--green-primary);
}

.edit_button {
  border-color: var(--green-primary);
  color: var(--green-primary);
}

.active_chip {
  background: var(--gray-primary) !important;
}

.custom_text_field {
  background: #f0f0f0 !important;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 0rem 0.8rem;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2) !important;
  min-width: 15rem;
  position: relative;
  margin-bottom: -4rem;
  height: 3.5rem;
}

.custom_text_field p:nth-child(1) {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.6);
  line-height: 0rem;
  margin-top: 1rem;
  position: absolute;
}

.custom_text_field p:nth-child(2) {
  font-size: 1rem;
  line-height: 0.5rem;
  position: absolute;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 1rem;
  top: 30%;
}

.flex_show_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8rem;
  margin: 2rem 0rem 7rem 0rem;
  justify-content: center;
}

.ChatFooter {
  z-index: 0 !important;
}
