.messageTriangleRight {
  content: ' ';
  margin-right: 1vh;
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 0px;
  bottom: auto;
  border: 18px solid;
  border-color: var(--secondarygreen) transparent transparent transparent;
}

.messageTriangleLeft {
  margin-left: 1vh;
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 18px solid;
  border-color: #F9F9FE transparent transparent transparent;
}

.onHover {
  font-weight: bold;
  color: var(--primary);
  background-color: white;
  height: fit-content !important;
}

.onHover:hover {
  background: var(--grey);
}

.msgFeedback {
  display: flex;
  align-items: flex-end;
  width: fit-content;
}

.msgFeedbackIcons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  width: 130px;
  border: 1px solid var(--primary);
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.msgFeedback p {
  font-family: Mulish-bold;
  color: var(--font);
  font-size: 11px;
}

.p {
  font-size: 1rem;
}

.list {
  background: none !important;
}

.bubbleB {
  width: 88vw !important;
}

.textBubble {
  margin: auto;
  background: none;
  line-height: 2.5;
  padding: 0;
}

.optionsText {
  font-size: 1.5rem;
  color: var(--primary);
  font-weight: bold;
  margin: auto;
}

.listItem {
  border: 2px solid var(--lightgrey) !important;
  border-radius: 0px 25px;
  margin-bottom: 25px;
  background-color: white;
  height: 10vh;
  width: 85vw;
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
}

.offlineBtns {
  display: flex;
  justify-content: center;
}

.offlineBtns button {
  min-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--grey);
  color: var(--primary);
  font-family: 'Mulish-Bold';
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 30px;
  margin: 30px 5px 15px 5px;
  padding: 6px 8px;
}

.msgSpeaker{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  /* height: 26px;
  width: 40px; */
  padding: 0 5px;
  border: 1px solid var(--primary);
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: auto;
  /* margin-right: 3rem; */
}
