* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body{
  background-color: var(--bg-color) !important;
}

@font-face {
  font-family: Mulish-bold;
  src: url("../assets/fonts/Mulish-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: Mulish-demi;
  src: url("../assets/fonts/Mulish-Demi.ttf");
  font-display: swap;
}
@font-face {
  font-family: Mulish-medium;
  src: url("../assets/fonts/Mulish-Medium.ttf");
  font-display: swap;
}
@font-face {
  font-family: Mulish-regular;
  src: url("../assets/fonts/Mulish-Regular.ttf");
  font-display: swap;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border: 3px solid white;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #180e644d;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border: 3px solid var(--scrollbar-thumb-color, #030311);
  border-radius: 10px;
}

:root{
  --font: #000000B5;
  --lightgrey: #D0D0D0;
  --grey: #828282;
  --darkgrey: #333232;
  --primary: #D2F4E0;
  --secondary: #219653;
  --tertiary: #003A00;
  --red: #be0f39;
  --bg-color: #F6FAFF;
}

body {
  margin: 0;
  font-family: Mulish-regular !important;
  transition: opacity 200ms;
  position: relative;
  font-family: Mulish-medium;
  scroll-behavior: smooth;
}

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.flex{
  display: flex;
}

.hidden{
  display: none;
}

.css-6e3h0h {
  max-width: 300px !important;
  border-radius: 0 10px 10px 0;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ChatFooter {
  border-top: 1px solid lightgray !important;
}
