.container{
  width: 100%;
  height: 92%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 16px;
  font-family: sans-serif !important;
  padding: 5px;
}

.imageContainer {
  width: 48vh;
  height: 22vh;
  background-size: contain; 
  background-repeat: no-repeat; 
  background-blend-mode:multiply;
}

.roundedButton{
  border-radius: 40px !important;
}
