.sideMenu {
    height: 100%;
    width: 100%;
    background-color: #1E6231;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-top: 60px;
    border-radius: 0 10px 10px 0;
    flex-direction: column;
    align-items: center;
  }
  
  .hamburgerContainer,
  .imageContainer, .imageContainer2 {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .btn {
    background: var(--lightgrey);
    width: 60px;
    height: 30px;
    font-size: 0.85rem;
    font-weight: 700;
    color: #4f4f4f;
    outline: none;
    border: none;
  }
  
  .active {
    background: var(--primary);
    color: white;
    width: 60px;
    height: 30px;
    outline: none;
    border: none;
  }
  
  .imageContainer2 {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100px;
  }
  
  .closeButton {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-top: 17px;
    padding: 10px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .iconContainer{
    height: 40px;
    width: 40px;
  }
  
  .user{
    width: 100%;
    display: flex;
    padding: 1vh 2vh;
    align-items: center;
    border-bottom: 1px solid #818181;
  }
  
  .userInfo {
    padding: 0.5vh;
    margin-left: 2vh;
    font-size: 2vh;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .userInfo2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 8vh;
    margin-left: 2vh;
    font-size: 16px;
  }
  
  .icon1 {
    height: 50px;
    width: 50px;
  }
  
  .icon2 {
    height: 24px;
    width: 24px;
  }
  
  .icon3{
    margin-left: auto;
  }