/* .jsonToTable td,
.jsonToTable th {
  padding: 5px;
  border: 1px solid rgb(190, 190, 190);
}

.jsonToTable td {
  text-align: left;
}

.jsonToTable tr:nth-child(even) {
  background-color: #eee;
}

.jsonToTable th[scope="col"] {
  background-color: #696969;
  color: #fff;
}

.jsonToTable th[scope="row"] {
  background-color: #d7d9f2;
}

.jsonToTable caption {
  caption-side: bottom;
}

.jsonToTable table {
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
  font-size: 0.8rem;
} */