* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body{
  background-color: var(--bg-color) !important;
}
@font-face {
  font-family: Mulish-bold;
  src: url("../assets/fonts/Mulish-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: Mulish-demi;
  src: url("../assets/fonts/Mulish-Demi.ttf");
  font-display: swap;
}
@font-face {
  font-family: Mulish-medium;
  src: url("../assets/fonts/Mulish-Medium.ttf");
  font-display: swap;
}
@font-face {
  font-family: Mulish-regular;
  src: url("../assets/fonts/Mulish-Regular.ttf");
  font-display: swap;
}
::-webkit-scrollbar {
  width: 5px;
  scrollbar-color: #180e644d;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #180e644d;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #030311;
  border-radius: 10px;
}

:root{
  --font: #000000B5;
  --lightgrey: #D0D0D0;
  --grey: #828282;
  --darkgrey: #333232;
  --primary: #F5952E;
  --primarygreen: #D2F4E0;
  --secondarygreen: #167fff;
  --tertiarygreen: #003A00;
  --red: #be0f39;
  --bg-color: #FFF;
}

body {
  margin: 0;
  font-family: Mulish-regular !important;
  transition: opacity 200ms;
  position: relative;
  font-family: Mulish-medium;
  scroll-behavior: smooth;
}

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.flex{
  display: flex;
}

.hidden{
  display: none;
}

.css-6e3h0h {
  max-width: 300px !important;
  border-radius: 0 10px 10px 0;
}

.css-1ozmk1d{
  min-width: 150px !important;
}

.css-13c7rae{
  width: 100% !important;
  display: flex;
  justify-content: space-between;
}
