.messageTriangleRight {
  content: ' ';
  margin-right: 1vh;
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 0px;
  bottom: auto;
  border: 20px solid;
}

.messageTriangleLeft {
  margin-left: 1vh;
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid;
}

.onHover {
  font-weight: bold;
  background-color: white;
  height: fit-content !important;
}

.msgFeedback {
  display: flex;
  align-items: flex-end;
  width: fit-content;
  margin-right: 3rem;
}

.msgFeedbackIcons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  width: 130px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.msgFeedback p {
  font-family: Mulish-bold;
  font-size: 11px;
}

p {
  font-size: 1rem;
  margin-bottom: 0 !important;
}

.list {
  margin-top: 15px;
  background: none !important;
}

.bubbleB {
  width: 88vw !important;
}

.textBubble {
  margin: auto;
  background: none;
  line-height: 2.5;
  padding: 0;
}

.optionsText {
  font-weight: bold;
  background-color: white;
  height: fit-content !important;
}

.listItem {
  font-size: 16px;
  border-radius: 0px 25px;
  margin-bottom: 10px;
  background-color: white;
  height: fit-content;
  width: 100%;
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
  padding: 2px 10px !important;
}

.offlineBtns {
  display: flex;
}

.offlineBtns button {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 15px;
  margin: 1px 5px;
  padding: 2px 8px;
}

.msgSpeaker {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  padding: 0 5px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: auto;
}

.tableContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  max-width: 90vw;
  background: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}