.container{
  width: 100%;
  height: 100%;
   display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif !important;
}

.imageContainer {
  width: 48vh;
  height: 22vh;
  background-size: contain; 
  background-repeat: no-repeat; 
  background-blend-mode:multiply;
}

.callImage{
  width: 7vh;
  height: 7vh;
}

.roundedButton{
  border-radius: 40px !important;
}
